*{
    font-family: 'Varela Round', sans-serif;
    color: rgba(230, 230, 250, 1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow: hidden;
}

body{
    background: black;
}

body .circle1{
    height: 150px;
    width: 150px;
    background: linear-gradient(red, blue);
    border-radius: 50%;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-200px, 100px);
}

body .circle2{
    height: 100px;
    width: 100px;
    background: linear-gradient(90deg, blue, red);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70px, -250px);
}

.card{
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-top: 1px solid red;
    border-bottom: 3px solid blue;
    border-right: 3px solid red;
    border-left: 1px solid blue;
    border-radius: 40px;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -50px;
    bottom: 0;
    animation: animate 3s infinite;
}

.video video{
    border-radius: 50%;
    margin: 10px;
}

.contact img{
    width: 50px;
    height: 50px;
}

.content h3{
    margin-top: 10px;
}

.content p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes animate{
    50% {box-shadow: 0 5px 30px blue, 5px 0 30px red, 0 -5px 30px red, -5px 0 30px blue;}
}